.article-details-wrapper{
  margin: 40px;
  margin-top: 30px;
}

.article-details-text{
  font-size: 25px;
  font-weight: 500;
}

.horizontal-solid-line{
  border: .25px solid gray;
}

.form{
  width: 45%;
  /* background-color: aqua; */
}



.summarize-button{
  float: right;
  /* position: absolute;
  right: 45%; */

  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: plum;
  border-radius: 5px;
  border: 0px;
  color: white;
  margin: 10px;
  margin-right: 0px;
  height: 30px;
}